<h1>Hi!</h1>
<p>Welcome back! You want more nom noms?</p>
<h3>Hungry? </h3>
<ul>

<div class="row" *ngIf="step == 0">
<!-- col lg 6 -->
<app-image-box (click)="addToWinners(food)" [image]="food.link" [name]="food.name" *ngFor="let food of battle"></app-image-box>


</div>

<div class="row" *ngIf="step == 1">
  <!-- col lg 6 -->
  <app-image-box (click)="addToSecondo(food)" [image]="food.link" [name]="food.name" *ngFor="let food of battle"></app-image-box>


</div>


<div class="row" *ngIf="step == 2">
  <!-- col lg 6 -->
  <app-final [rec]="recs" [rname]="recsname" [sec]="secondo"></app-final>

</div>





</ul>