<h1>Hi {{currentUser.firstName}}!</h1>
<p>Welcome back! You want more nom noms?</p>
<h3>Hungry? </h3>
<ul>

<div class="row" *ngIf="!this.step">
<!-- col lg 6 -->
<app-image-box (click)="addToWinners(food)" [image]="food.link" [name]="food.name" *ngFor="let food of battle"></app-image-box>


</div>

<div class="row" *ngIf="this.step">
  <!-- col lg 6 -->
  <app-image-box (click)="addToSecondo(food)" [image]="food.link" [name]="food.name" *ngFor="let food of battle"></app-image-box>


  </div>

    <!-- <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li> -->


        <!-- <li *ngFor="let item of items">
    </li> -->
<!--




</div> -->





</ul>
