<h1>Hi {{currentUser.firstName}}!</h1>
<p>Welcome back! You want more nom noms?</p>
<h3>Hungry? </h3>
<ul>

<div class="row">
<!-- col lg 6 -->
<app-image-box (click)="addToWinners()" [image]="food.image" *ngFor="let food of foods"></app-image-box>




</div>

    <!-- <li *ngFor="let user of users">
        {{user.username}} ({{user.firstName}} {{user.lastName}})
        - <a (click)="deleteUser(user.id)" class="text-danger">Delete</a>
    </li> -->


        <!-- <li *ngFor="let item of items">
    </li> -->
<!-- 



    
</div> -->





</ul>