<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron" style="text-align:center">
    <div class="container-fluid" style="text-align: center;">
        <div class="row" style="text-align: center; display: inline-block;">
                <alert>hi</alert>
                <router-outlet style="display: inline-block;"></router-outlet>
        </div>
    </div>
</div>



<div>
    <div>Hi </div>
</div>
