
<p>
  Our experts have determined that you should take her to {{recsname[0]}}
</p>
<a href="https://www.google.com/maps/dir/?destination=+{{this.rec[0]}}+&api=AIzaSyB190V6L_hdgXp8PJtbbPr5Tb0eJ16GYeA">Google Route </a>

<!-- <div>
  <p (click)="toggle()">
    Click for more recommendations
  </p>
  <div *ngIf="this.toggley" >
    <p *ngFor="let boop of reclo">
        <a href="https://www.google.com/maps/dir/?destination=+{{boop}}+&api=AIzaSyB190V6L_hdgXp8PJtbbPr5Tb0eJ16GYeA"> {{}} </a>
    </p>
  <div>


</div> -->
